body{
    background-color: #e5e5e5;
}

#search-section{
    text-align: center;
}

#search-input{
    background-color: #f8f7f5;
    height: 60px;
    width: 570px;
    border: none;
    border-radius: 6px;
}

#search-button{
    height:60px;
    width: 111px;
    background-color: #f06c4e;
    border: none;
    border-radius:6px;
    margin-left: -.2%;
}

#meals-container{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    text-align: center;
}

.btn{
    border: none;
    width: 260px;
    height: 310px;
    background-color: #F8F7F5;
    border-radius:5px;
}

.btn img{
    width: 250px;
    height: 226px;
    border-radius:5px;
    margin-top: -.2rem;
}

#single-meal-container{
    margin-left: 25%;
    margin-top: 2rem;
}

.single-image{
    width: 588px;
    height: 322px;
    border-radius: 5px;;
}

#error-message{
    text-align: center;
    color: red;
}

@media only screen and  (max-width: 768px) {
    #meals-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        text-align: center;
    }}

@media only screen and  (max-width: 400px) {
    #meals-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        text-align: center;
    }}
    